* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------TABLET----------- */

@media (min-width: 985px) and (max-width: 1710px) {
  
  .fi-rr-menu-burger {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 985px) {

  /* --------------Header-------------- */
  #header-nav {
    margin-bottom: 50px;
  }

  #header-nav .container-fluid {
    display: flex;
    flex-direction: column;
  }

  #header-nav .container-fluid .navbar-header {
    margin: auto;
    width: 16%;
  }


  #header-nav .container-fluid .collapse {
    position: absolute;
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }

  #header-nav .collapse .navbar-left {
    display: flex;
    flex-direction: column;

    z-index: 1;
  }

  #header-nav .collapse .navbar-left li {
    background-color: #e0e5fa;
    width: 300px;
    display: none;
  }

  #header-nav .collapse .navbar-left li a {
    margin: 10px 5px 2px;
  }

  #header-nav .collapse .navbar-left li a:hover {
    background-color: #f4f4f5;
    color: #6079dd;
    border-radius: 5px;
  }

  #header-nav .collapse .navbar-left .gt {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
  }

  #header-nav .collapse .navbar-left li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }


  #header-nav .navbar-left .fi-rr-menu-burger {
    font-size: 35px;
    margin: 5px 7px;
    transition: 0.5s;
  }


  #header-nav .navbar-left .fi-rr-menu-burger:active {
    transform: translateY(3px);
  }


  #header-nav .navbar-right .setting {
    display: none;
  }

  /* --------------container-------------- */

  #container {
    margin: 20px 0 !important;
    width: 100%;
    margin-left: 0 !important;
    height: auto;
  }

  #container #panel-content {
    flex-direction: column-reverse;
    height: inherit;
    margin: auto;
    align-items: center;
  }

  #container #panel-content .content-left {
    width: 70%;
    margin: 20px 0 ;
    text-align: center;
    
    margin: auto;
  }

  #container #panel-content .content-left .title {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #container #panel-content .content-left .desption {
    width: 100%;
  }

  #container #panel-content .content-right {
    width: 100%;
    display: grid;
    place-items: center;;
    margin: auto;
  }


  #container #panel-content .content-right img {
    width: 90%;
   
  }

  /* ------------list-subjects------------ */

  #list-subjects {
    width: 100%;
  }

  #list-subjects .content-center {
    width: 90%;
    height: 260px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }


  /* ------------procedure------------ */

  #procedure {
    height: 340px;
  }

  #procedure .header-procedure {

  }

  #procedure .body-procedure {

  }

  #procedure .body-procedure .procedure-item {
    width: 200px;
    height: 200px;
  }


    /* ------------about-Me------------ */
    #about-Me {

    }
    
    #about-Me #panel-content {
      height: 350px;
      margin: 3% 0;
    }

    #about-Me #panel-content .content-left {
      width: 60%;
    }

    #about-Me #panel-content .content-left .title{
      font-size: 35px;
    }

    #about-Me #panel-content .content-left .sub-title {
      font-size: 30px;
    }

    #about-Me #panel-content .content-left .desption {
      font-size: 15px;
    }

    #about-Me #panel-content .content-right img {
      width: 80%;

      margin: auto 15%;
    }

    /* ----------option-subjects---------- */

    .desption-option {
      font-size: 200% !important;
      margin: 10px 0 !important;
    }


}