<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSSfile/couse.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Môn Thi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="icon" type="image/x-icon" href="../img/Web/comet_1.ico">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel="stylesheet" href="../CSSfile/responsive.css">
    <link rel="stylesheet" href="../CSSfile/input.css">
</head>

<body ng-app="myApp" ng-controller="SubjcetCtrl">
    <container class="container">
        <div class="panel panel-default code-website col-9">
            <div class="panel-heading">
                <h2 class="title">Lập trình website</h2>
                <p class="subtitle">Kiểm tra những kiến thức về backend và cả frontend</p>
            </div>
            <div class="panel-body">
                <div class="item-courses col-md-3 col-sm-4 col-xs-6">
                    <div class="block-img">
                        <img src="../img/imgKhoaHoc/8.png" alt="">
                    </div>
                    <div class="block-different">
                        <div class="id-courses">
                            <h6>HTCS</h6>
                        </div>
                        <div class="question">
                            <div><i class="fi fi-rr-comment-question"></i></div>
                            <h6>10/10</h6>
                        </div>
                    </div>
                    <h5 class="name-course">Xây dựng trang web</h5>
                </div>
                <div class="item-courses col-md-3 col-sm-4 col-xs-6">
                    <div class="block-img">
                        <img src="../img/imgKhoaHoc/1.png" alt="">
                    </div>
                    <div class="block-different">
                        <div class="id-courses">
                            <h6>JSPR</h6>
                        </div>
                        <div class="question">
                            <div><i class="fi fi-rr-comment-question"></i></div>
                            <h6>10/10</h6>
                        </div>
                    </div>
                    <h5 class="name-course">Lập trình Java Script</h5>
                </div>
                <div class="item-courses col-md-3 col-sm-4 col-xs-6">
                    <div class="block-img">
                        <img src="../img/imgKhoaHoc/10.png" alt="">
                    </div>
                    <div class="block-different">
                        <div class="id-courses">
                            <h6>ASNE</h6>
                        </div>
                        <div class="question">
                            <div><i class="fi fi-rr-comment-question"></i></div>
                            <h6>10/10</h6>
                        </div>
                    </div>
                    <h5 class="name-course">Asp.net</h5>
                </div>
                <div class="item-courses col-md-3 col-sm-4 col-xs-6">
                    <div class="block-img">
                        <img src="../img/imgKhoaHoc/14.png" alt="">
                    </div>
                    <div class="block-different">
                        <div class="id-courses">
                            <h6>WEDU</h6>
                        </div>
                        <div class="question">
                            <div><i class="fi fi-rr-comment-question"></i></div>
                            <h6>10/10</h6>
                        </div>
                    </div>
                    <h5 class="name-course">Web Potoco</h5>
                </div>
            </div>

        </div>
        <div class="panel panel-default mainContent col-9">
            <div class="panel-heading">
                <h2 class="title">Các môn chuyên ngàng khác</h2>
                <p class="subtitle">Kiểm tra những kiến thức chuyên ngành</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="item-courses col-md-3 col-sm-4 col-xs-6" ng-repeat="subject in Subjects |limitTo:8:begin">
                        <div class="block-img">
                            <img src="../img/imgKhoaHoc/{{subject.Logo}}" alt="">
                        </div>
                        <div class="block-different">
                            <div class="id-courses">
                                <h6>{{subject.Id}}</h6>
                            </div>
                            <div class="question">
                                <div><i class="fi fi-rr-comment-question"></i></div>
                                <h6>10/10</h6>
                            </div>
                        </div>
                        <h5 class="name-course">{{subject.Name}}</h5>
                    </div>
                  
                </div>
                
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btnNumber">001</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="first()" class="btn btn-default"><i class="fi fi-rr-angle-double-left"></i></button>
                        <button type="button" ng-click="prev()" class="btn btn-default"><i class="fi fi-rr-angle-left"></i></button>
                        <button type="button" ng-click="next()" class="btn btn-default"><i class="fi fi-rr-angle-right"></i></button>
                        <button type="button" ng-click="last()" class="btn btn-default"><i class="fi fi-rr-angle-double-right"></i></button>
                        <!-- <h6 class="icon" style="margin: 0 5px; display: flex; align-items: center;"><i class="bi bi-caret-left-fill"></i><p style="margin: 0 0 0 5px; ">Quay lại</p></h6>  
                        <h6 class="icon" style="margin: 0 5px; display: flex; align-items: center;"><p style="margin: 0 5px 0 0; ">Tiếp tục </p> <i class="bi bi-caret-right-fill"></i> </h6>  
                      -->

                    </div>
                </div>
            </div>
        </div>
    </container>
    <footer class="footer-distributed">
        <div class="footer-left">
            <img src="../img/Web/Xám_Vòng_tròn_Lá_Hoa_Biểu_trưng-removebg-preview.png" alt="" class="logo">
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>

                <a href="#">About</a>

                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Company Name © 2023</p>
        </div>

        <div class="footer-center">
            <p class="footer-company-about">
                <span>Location and Contact</span>
            </p>
            <h5>Melbourne city Victoria, Úc</h5>
            <h5>SDT : (84)91284803998</h5>
        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
                vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fi fi-brands-facebook"></i></a>
                <a href="#"><i class="fi fi-brands-twitter"></i></a>
                <a href="#"><i class="fi fi-brands-linkedin"></i></i></a>
                <a href="#"><i class="fi fi-brands-github"></i></a>

            </div>

        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>   
    <script src="../JSfile/subject.js"></script>
</body>

</html>