<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../CSSfile/signin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="icon" type="image/x-icon" href="./img/Web/comet_1.ico">
  
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel="stylesheet" href="../CSSfile/input.css">
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
</head>

<body ng-app="myApp" ng-controller="signInCtrl">
    <div id="container">
        <div class="pull-left col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <img src="../img/Web/Xám_Vòng_tròn_Lá_Hoa_Biểu_trưng-removebg-preview.png" alt="" class="logo">
                </div>
                <div class="panel-body">
                    <label class="titel-login">Đăng ký tài khoản</label>
                    <form onsubmit="return false" needs-validation>
                        <div class="form-group  col-md-6">
                            <input class="effect-16" name="fullname" ng-model="signIn.Fullname" type="text" placeholder="Họ tên" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="effect-16" ng-model="signIn.Username"  type="text" placeholder="Tên đăng nhập" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="effect-16" ng-model="signIn.Email" type="email" placeholder="Địa chỉ Email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="effect-16" ng-model="signIn.Birthday" type="date" placeholder="dd/mm/yyyy" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="effect-16" ng-model="signIn.Password" type="password" placeholder="Mật khẩu" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="effect-16" ng-model="confirm" type="password" placeholder="Xác nhận" required>
                        </div>
                        <div class="form-group col-md-6">
                            <select name="" id="gt" class="effect-16" ng-model="signIn.Gender"  style="padding: 0;">
                                <option value="true">Nam</option>
                                <option value="false">Nữ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btnDangKy" id="DangKy">Đăng ký tài khoản</button>
                        </div>
                    
                    </form>
                </div>
                <div class="panel-footer">
                  <a href="../index.html" style="text-decoration: none; color: rgb(56, 56, 56);"><h6 ><i class="fi fi-rr-caret-left"></i>  Trở lại</h6></a>
                   <h5 style=" overflow: hidden; padding: 10px 0  0 !important; height: 50px;
                   vertical-align: middle;">Bạn đã
                    có tài khoản? <a href="">Đăng nhập ngay</a></h5>
                </div>
            </div>
        </div>
        <div class="pull-right ">
            <div class="block-img">
                <img src="../img/Web/stock-photo-1010481823.jpg" alt="">
            </div>
         
        </div>
    </div>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyA6akAgUramaPoVPHWhWOIzEGKGiRM25dc",
          authDomain: "examtest-web.firebaseapp.com",
          databaseURL: "https://examtest-web-default-rtdb.firebaseio.com",
          projectId: "examtest-web",
          storageBucket: "examtest-web.appspot.com",
          messagingSenderId: "826380595014",
          appId: "1:826380595014:web:749a05879af1127febff47"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
      </script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
        <script src="../JSfile/SignIn.js"></script>
</body>

</html>