* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------Contact Css-------------------- */

body {
    width: 100%;
    height: 100vh;
}


form .form-group input[type="text"]:focus::placeholder,
form .form-group input[type="password"]:focus::placeholder,
form .form-group input[type="tel"]:focus::placeholder,
form .form-group textarea:focus::placeholder {
    color: #B4C3FD;
    font-weight: 600;
}


/* ---------------Container-css--------------- */
#container {
    font-family: Inter;
    width: 85vw;
    height: auto;
    margin-top: calc((100vh - 85vh)/2) !important;
    background-color: #ffffff;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;

}

#container>.pull-left {
    width: 50%;

}


#container .panel {
    border: none;
    padding-top: 15px;
    height: 90vh !important;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#container .panel-heading {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}



#container .panel-body {
    width: 100%;
    height: 100%;
    padding: 0;
}

#container .panel-body .titel-login {
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
}

#container .panel-body form {
    width: 100%;
    height: 100%;
}


#container .panel-body form .form-group {
    margin: 20px auto !important;
    overflow: hidden;

}


#container .panel-body .form-group .effect-16 {
    width: 100%;
    height: 30px;
    padding: 4px 0;
    margin: 0 !important;
    letter-spacing: 1;
    font-size: 14px !important;
    font-family: Inter !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../img/Web/calendar.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}


#container .panel-body .form-group .btnDangKy {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #B4C3FD;
    box-shadow: 0 5px #939fcf;
    transition: 0.5s !important;
    overflow: hidden;
    margin-bottom: 10px;
}

#container .panel-body .form-group .btnDangKy:active {
    transform: translateY(5px);
    box-shadow: none;
}


#container .panel-footer {
    background-color: white;
    border: none;
    box-shadow: none;
    height: 60px;
}

#container .panel-footer .fi-rr-caret-left,
#container .panel-footer h6 {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    transition: 0.5s;
    margin-left: 0px;
    width: 40%;
    cursor: pointer;
}

#container .panel-footer h6 {
    font-size: 15px;
}


#container .panel-footer .fi-rr-caret-left:hover,
#container .panel-footer h6:hover {
    color: #B4C3FD;
    transform: translateX(-15px);
}


#container>.pull-right {
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

#container .pull-right>.block-img {
    width: 90%;
    height: 90%;
    margin: auto;
    float: right;
}

#container .pull-right>.block-img iframe {
    width: 95%;
    height: 100%;
    object-fit: cover;
    box-shadow: 15px -15px #B4C3FD;
    transform: translateY(7.5px);
    border-radius: 10px;
}

.footer-distributed {
    background: #ebedff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin: 100px 0 0;
    
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}



.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;

}

.footer-center .footer-company-about {
    color: #92999f;
    font-size: 16px !important;
    font-weight: normal;
}

.footer-center .footer-company-about span {
    color: #1E1843 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    margin-bottom: 20px;
}


.footer-center h5 {
    margin-bottom: 15px !important;
    color: #92999f;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #615f5f;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #464646;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #283774;

    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #1E1843;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #8FA5FA;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;

    margin: 0 3px;
}

.footer-links a {
    color: #494a4d;
}

.footer-distributed .footer-icons a i {
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 40px;

}

.footer-distributed .logo {
    width: 40%;
}


/* ------------------------------REPONSIVE------------------------------ */

@media (min-width: 1200px) and (max-width: 2000px) {}


@media (min-width: 900px) and (max-width: 1200px) {
    

}

@media (min-width: 768px) and (max-width: 900px) {
    #container {
        flex-direction: column;
        overflow: scroll;
        width: 100%;
        border-radius: 0;
        height: initial;
    }
    #container>.pull-left {
        margin: 10px auto;
        width: 100% !important;
    }

    #container>.pull-right {
        display: flex;
        margin: 10px auto;
        width: 100% !important;
        height: 500px;
    }
    #container>.pull-right .block-img iframe {
        margin: auto;
        margin-left: 10px;
    }

}

@media (min-width: 360px) and (max-width: 768px) {
    #container {
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        border-radius: 0;
    }

    #container>.pull-left {
        margin: 10px auto;
        width: 100% !important;
    }

    #container>.pull-left .panel {
        display: block;
        justify-content: unset;
        height: fit-content !important;
    }

    #container>.pull-left .panel-footer {
        height: 20px;
    }

    #container>.pull-right {
        display: flex;
        margin: 10px auto;
        width: 100% !important;
        height: 500px;
    }
    #container>.pull-right .block-img iframe {
        margin: auto;
        margin-left: 10px;
    }

    #container .panel-footer h5 {
        font-size: 10px;
    }

}
