* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: Inter;
}

.zoom-in-zoom-out {
    margin: 24px;
    width: 50px;
    height: 50px;
    background: green;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.05, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
}


/* --------------------Css-------------------- */


.container {
    width: 100%;
    margin: auto;
}


.container>.panel {
    width: 90%;
    margin: auto;

}

.container .panel #Courses {
    width: 30%;
    height: 50px;
    border-radius: 10px;
}

.container .panel #Courses:focus {
    border: 1px solid #B4C3FD;
}

/* .container .panel .panel-body */


.container>.code-website {
    width: 90%;
    margin: 40px auto;
    border-radius: 10px;
    background-color: #eaefff;
}

.container>.code-website .panel-heading {
    width: 95%;
    padding: 10px 0;
    margin: auto;
}

.container>.code-website .panel-heading h2 {
    margin: 10px 0;
    font-weight: 600;
    text-align: left;
    line-height: 50px;
    color: rgb(70, 70, 70);
}

.container>.code-website .panel-heading h2::before {
    content: none;
}


.container>.code-website .panel-heading p {
    text-align: left;
}


.container>.code-website .panel-body {
    width: 95%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


.container>.code-website .panel-body .item-courses {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    height: 290px;
    background-color: white;
    border-radius: 5px;
    margin: 20px 0.9%;
    /* width: 23%; */

}

.panel-body .item-courses {
    cursor: pointer;
    transition: 0.5s;
}

.panel-body .item-courses:hover {
    transform: translateY(-5px);
}

.panel-body .item-courses .block-img {
    width: 90%;
    height: 55%;
    margin: 10px auto;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);

}

.panel-body .item-courses:hover .block-img {
    animation: zoom-in-zoom-out 2s ease-out infinite;
}



.panel-body .item-courses .block-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.5s;
}



.panel-body .item-courses .block-different {
    display: flex;
    width: 90%;
    margin: 15px auto;
    overflow: hidden;
    /* justify-content: space-between; */
    align-items: center;
    height: 40px;

}

.panel-body .item-courses .block-different .id-courses {
    width: 40%;
    text-align: center;
    vertical-align: middle;
    background-color: #B4C3FD;
    border-radius: 5px !important;
}

.panel-body .item-courses .block-different .id-courses h6 {
    margin: 0;
    font-size: 13px;
    padding: 7px 0;
    color: white;
    font-weight: 400;
    font-family: Inter;
}

.panel-body .item-courses .block-different .question {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.panel-body .item-courses .block-different .question div {
    width: 30px;
    height: 30px;
    background-color: #FAFAFA;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-left: 10px;
}

.panel-body .item-courses .block-different .question div i {
    margin-top: 5px;
    color: #8DE99C;
    font-size: 17px;
}

.panel-body .item-courses .block-different .question h6 {
    margin: 0 5px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
}


.name-course {
    width: 90%;
    margin: 10px auto;
    font-weight: 500;
    font-size: 18px;
    color: black;
    font-family: Inter;
    overflow: hidden;
}

.container>.mainContent .panel-heading h2 {
    margin: 10px 0;
    font-weight: 600;
    text-align: left;
    line-height: 50px;
    color: rgb(70, 70, 70);
}

.container>.mainContent .panel-heading h2::before {
    content: none;
}

.container>.mainContent .panel-body {
    display: flex;
    flex-direction: column;

}

.container>.mainContent .panel-body .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: auto;
    flex-wrap: wrap;
}

.container>.mainContent .item-courses {
    background-color: #eaefff;
    width: 21%;
    height: 290px;
    border-radius: 5px;
    margin: 20px 0.9%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
}

.container>.mainContent .item-courses .block-img,
.container>.mainContent .item-courses .block-different,
.container>.mainContent .item-courses .name-course {
    width: 97%;
    margin: 15px auto;
}

.container>.mainContent .panel-footer {
    margin: 20px 15px;
    overflow: hidden;
}

.container>.mainContent .panel-footer .btn-toolbar {
    float: right;
}

.panel-footer .btn-toolbar .btnNumber {
    border: 1px solid black;
    margin: 0 10px;
}

.panel-footer .btn-toolbar .btn-default {
    background-color: #d9e1ff;
    display: flex;
    margin: 0 10px;

}

.panel-footer .btn-toolbar .btn-default:first-child,
.panel-footer .btn-toolbar .btn-default:last-child,
.panel-footer .btn-toolbar .btn-default {
    border-radius: 5px !important;
}




.panel-footer .btn-toolbar .btn-default i {
    align-items: center;
    margin-top: 5px;
    font-size: 17px;
}


/*----------------------- reponsive -----------------------*/

@media (min-width: 360px) and (max-width: 768px) {
    .panel #Courses {
        width: 80% !important;
        margin: auto;
    }
}