* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ----------------------------MODAL---------------------------- */

#myModal {
    width: 100% !important;
 
}



#myModal .modal-dialog {
    width: 60%;
    
}

#myModal .modal-dialog  .modal-content {
    border-radius: 20px;
}


#myModal .modal-content .modal-body {
    display: flex;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
}



#myModal .modal-content .modal-body>.pull-left{
    width: 28%;
    height: 400px;
    overflow: hidden;
    margin: 15px 0;
    border-right: 1px solid rgb(179, 179, 179);
    
}

#myModal .modal-body>.pull-left .nav-tabs {
    border: none;
}

#myModal .modal-body>.pull-left .nav-tabs li {
    width: 100%;
}


#myModal .modal-body>.pull-left .nav-tabs a {
    transition: 0.5s;
    color: rgb(68, 68, 68);
    font-family: Inter;
    font-weight: 600;
}

#myModal .modal-body>.pull-left .nav-tabs a:focus {
    border: none;
    color: #6f83d1;
}

#myModal .modal-body>.pull-left .nav-tabs a:active{
    border: none;
    background-color: rgb(231, 231, 231);
    border: 5px;
}

#myModal .modal-body>.pull-left .nav-tabs a:hover {
    background: white;
    border: none;
    color: #B4C3FD;
    transform: translateX(5px);
}

#myModal .modal-body>.pull-left  {
    width: 100%;
}

#myModal .modal-body>.pull-right {
    width: 72%;

}

#myModal .modal-body>.pull-right .titel-login {
    font-family: Inter;
    font-size: 23px;
    color: rgb(82, 82, 82);
    padding: 15px;
    margin: 10px;
}

#myModal .modal-body>.pull-right input {
    width: 100%;
    height: 50px;
    font-family: Inter;
    font-size: 15px;
    letter-spacing: 1;
    margin: 10px;
}

#myModal .modal-body>.pull-right .btnDoiPass {
    float: right;
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: #B4C3FD;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
}


/* -------------------------------------Reponsive------------------------------------- */


@media (min-width: 1024px) and (max-width: 1710px) {

}

@media (min-width: 768px) and (max-width: 1024px) {
    #myModal .modal-content .modal-body {
        flex-direction: column;
    }

    #myModal .modal-content .modal-body>.pull-left {
        display: flex;
        width: 100%;
        overflow: scroll;
        height: auto;
    }
    #myModal .modal-content .modal-body>.pull-left .nav-tabs{
        display: flex;
        flex-direction: row;
        height: inherit;
    }

    #myModal .modal-content .modal-body>.pull-left .nav-tabs li {
        width: 200px;
        height: 20%;
    }

    #myModal .modal-content .modal-body>.pull-right {
        margin: auto;
        height: 600px;
    }
   
}

@media (min-width: 360px) and (max-width: 768px) {
    #myModal {
        width: 100% !important;
        
    }

    #myModal .modal-dialog {
        width: 90%;
        margin: auto;   
    }
    #myModal .modal-content .modal-body {
        flex-direction: column;
    }

    #myModal .modal-content .modal-body>.pull-left {
        display: flex;
        width: 100%;
        height: 60px;
        overflow:scroll;
    }
    #myModal .modal-content .modal-body>.pull-left .nav-tabs{
        display: flex;
        flex-direction: row;
    
    }

    #myModal .modal-content .modal-body>.pull-left .nav-tabs li {
        width: 170px;
    }
    

    #myModal .modal-content .modal-body>.pull-right {
        width: 100%;
        margin: auto;
        height: 600px;
    }
   
}