* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

/* ----------------------------CSS---------------------------- */

.head-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-dialog .modal-body  {
    overflow: auto;
    
}

.img-panner {
    width: 95%;
    height: 40vh;
    background-color: gray;
    border-radius: 10px;
    margin: 30px auto;
    position: relative;
    left: -5px;
    box-shadow: 10px -10px #b4c3fd;
}

.img-panner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-profile .avata-and-edtInfo {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.info-profile .avata-and-edtInfo .avata-and-name {
    width: 27%;
    display: flex;
    align-items: center;
    position: relative;
    top: -50px;
    left: 70px;
}

.avata-and-edtInfo .avata-and-name .avata {
    width: 40%;
    border-radius: 50%;
    border: 5px solid #b4c3fd;
}

.avata-and-edtInfo .avata-and-name .avata img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.avata-and-edtInfo .avata-and-name .name-person {
    margin: 0 15px;
    font-size: 23px;

}

.avata-and-edtInfo .edtInfo {
    height: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #b4c3fd;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: Inter;
    transition: 0.5s;
    box-shadow: 0 5px #9cabe4;
}

.avata-and-edtInfo .edtInfo:active {
    transform: translateY(4px);
    box-shadow: none;
}

.avata-and-edtInfo .edtInfo i {
    margin-right: 10px;
}


.info-profile .introduce-and-hobbie {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.info-profile .introduce-and-hobbie .introduce {
    width: 50%;
    height: 130px;
    background-color: #CFDEFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.info-profile .introduce-and-hobbie .introduce .content {
    width: 95%;
    text-align: justify;
    margin: auto;

}

.info-profile .introduce-and-hobbie .hobbie {
    width: 50%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.info-profile .introduce-and-hobbie .hobbie .hobbie-item {

    height: fit-content;
    padding: 10px;
    border-radius: 17px;
    border: 2px solid #4b5ca0;
    margin: 5px;
   
}

.info-profile .introduce-and-hobbie .hobbie .hobbie-item h5 {
    margin: 0;
     font-size: 17px;
     color: rgb(46, 46, 46);
}

.mainContent {
    width: 95%;
    margin: 70px auto;
}

.mainContent .panel-heading {
    margin: 20px 12px;
}

.mainContent .panel-body {
    width: 100%;
    margin: auto;
    
}

.mainContent .panel-body .row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.mainContent .panel-body .item-courses {
    flex: 1 1 190px;
    background-color: #e8f1ff;
    margin: 10px;
    width: calc(100%/4 - 20px);
    border-radius: 7px;
}

.mainContent  .panel-footer {
    margin: 20px auto;
}

.mainContent  .panel-footer  .btn-toolbar {
    float: right;
}

/* ------------------------modal------------------------ */




#editModal .modal-content {
   border-radius: 15px;
}



#editModal .modal-content .modal-header .modal-title {
   font-family: Inter;
   font-weight: 600;
   font-size: 20px;
   
}
#editModal .modal-body {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-group .group1 {
    clear: both;
    
}

#editModal .modal-body .background-img {
    width: 100%;
    margin: 10px auto;
    height: 200px;
    background-color: #4b5ca0;
    border-radius: 10px;
    overflow: hidden;
}

#editModal .modal-body .background-img img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    border-radius: 10px;
}

.form-group {
    width: 95%;
    margin: 10px auto;
}

form .title-edit {
    width: 95%;
    font-weight: 600;
    font-family: Inter;
    color: black;
    margin: 5px 0; 
}

.form-group .uploadPhoto {
    float: right;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #b4c3fd;
    color: white;
    font-family: Inter;
    box-shadow: 0 5px #7e8fd4;
    transition: 0.5s;
}

.form-group .uploadPhoto:active {
    transform: translateY(5px);
    box-shadow: none;
}

#upload-photo,
#upload-avata {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.group2 {
    clear: both;
    width: 95%;
    display: flex;
    flex-direction: column;
}


.group2 .pull {
    width: 95%;
    margin:10px  auto;
    display: flex;
  
}    

.group2 .avata-img {
    width: 20%;
    border: 3px solid #b4c3fd;
    border-radius: 50%;
    margin: auto;
}

 .group2 .avata-img  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.group2 .btn {
    width: 100%;
    margin: auto;
}

.group2 .uploadPhoto {
  width: fit-content;
    margin-right: -10px;
    font-size: 14px;
}

.group3 .input-effect {
    margin: 20px 5;
}

.group3 .effect-16 {
    width: 100%;
    padding: 10px 0;
    letter-spacing: 1;
    font-family: Inter;
}

  .btnEdit {
    float: right;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #b4c3fd;
    color: white;
    font-family: Inter;
    box-shadow: 0 5px #7e8fd4;
    transition: 0.5s;
    margin-right: 5px;
}

.group3  .btnEdit:active{
    transform: translateX(5px);
    box-shadow: none;
}

.group5 .block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}   

.group5 .block .form-group {
    flex: 1 1 130px;
}


.panel-footer {
   padding-bottom: 50px;
}

.div {
    clear: both;
    width: 100%;
    
}


/* ------------------------reponsive------------------------ */

@media (min-width: 1090px) and (max-width: 1710px) {

}

@media (min-width: 746px) and (max-width: 1090px) {
    .img-panner {
        width: 95%;
        height: 25vh;
    }

    .info-profile .avata-and-edtInfo .avata-and-name {
        width: 40%;
        display: flex;
        align-items: center;
        position: relative;
        top: -50px;
        left: 70px;
    }
    

}

@media (min-width: 360px) and (max-width: 746px) {
    .img-panner {
        width: 95%;
        height: 25vh;
    }

    .info-profile {
        
        height: fit-content;
    }

    .info-profile .avata-and-edtInfo {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .info-profile .avata-and-edtInfo .avata-and-name {
        width: 60%;
        display: flex;
        position: unset;
        
        margin: -15px auto 10px auto;
        flex-direction: column;
    }
    .info-profile .avata-and-edtInfo .avata-and-name .name-person {
        margin: 20px 0;
    }

    .introduce-and-hobbie {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* overflow: hidden; */
    }
    .introduce-and-hobbie .introduce {
        width: 100% !important;
        margin: 20px 0;
    }

    .introduce-and-hobbie .hobbie {
        width: 100% !important;
        margin: 20px 0;
        height: fit-content;
        
    }

    .modal-dialog {
      
    } 
    

}
